$cWhite: #fff;
$cBlank: #000;

#container {
  text-align: center;
}

.btn {
  background-color: $cWhite;
  color: $cBlank;
  border: 1px solid $cBlank;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: $cBlank;
    color: $cWhite;
  }
}


